.btn {
  width: max-content;
  padding: 12px 24px;
  border: none;
  background: var(--color-blue);
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-white);
  outline: none;
  cursor: pointer;
  &:hover {
    background: var(--color-blue-dark);
  }
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 17px;
  }
}
