.btn {
  width: max-content;
  max-height: 45px;
  padding: 11px 24px;
  border: 1px solid var(--color-blue);
  background: transparent;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-blue);
  outline: none;
  cursor: pointer;
}

.dis {
  background-color: #808080;
  &:hover {
    background-color: #808080;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 17px;
  }
}
