.wrapper {
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #ffffff;
  max-width: 700px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px -5px rgb(34 60 80);
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 105%;
  color: #2f2f2f;
  margin-bottom: 16px;
}

.text {
  color: #2f2f2f;
  font-size: 16px;
  line-height: 136.2%;
  margin-bottom: 16px;
}
