.wrapper {
  width: 100%;
}

.cards {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: center;
}

.emptyAplication {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.emptyAplicationTitle {
  font-weight: 700;
  font-size: 18px;
  color: #2f2f2f;
}

.emptyAplicationDesc {
  font-weight: 500;
  margin: 10px 0;
}

.emptyAplicationBtn {
  color: #fff;
  background: #3a85f4;
  margin-top: 20px;
}

.award {
  width: 12px;
}
