.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-blue);
}

@media screen and (max-width: 1280px) {
  .wrapper {
    min-width: 320px;
  }
}
